
body{
	margin: 0;
	padding: 0;
	background: url("Puz.jpg");
	background-size:cover;
	background-position:top;
	font-family: sans-serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
	
}
h1 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

p{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.table1{
	margin-left: auto;
	margin-right: auto;
	border: 3px solid black;
    border-collapse: collapse;
    height: 50px;
    width: 100px;
    justify-content: center;
   }

.table2{
	margin-left: auto;
	margin-right: auto;
	border: 3px solid black;
    border-collapse: collapse;
    height: 50px;
    width: 100px;
    justify-content: center;
   }
.placeholder{
	text-align: center;
}